* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(224, 224, 224, 0.9);
}

div {
    height: auto;
    width: 300px;
    padding: 20px;
    border: 5x soild black;
    box-sizing: content-box;
    background-color: rgba(181, 243, 205, 0.966);
    border-radius: 8px;
    margin: auto;
}

h1 {
    text-align: center;
}